*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    background-color: antiquewhite;
}
.submit{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
}
.information{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;
    gap:50px;
}
img{
    width: 200px;
    height: 200px;
}
.text{
    width: 30%;
}
button{
    color: white;
    background-color: #ff6464;
    border: none;
    height: 30px ;
}
