*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}
.title{
    display: flex;
    justify-content: flex-start;
    background-color: #3498bd;
    height: 40px;
    margin: 5px;
}
.body{
    height: 200px;
    display: flex;
    justify-content: flex-start;
    gap:5px;
    margin: 5px;
}
.body .side{
    background-color: #2ecc71;
    width: 200px;
}
.body .text{
    background-color: #e74c3c;
    flex-grow: 2;
}
.end{
    background-color: #9b59b6;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin: 5px;
}