*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
   
    
   
}
.head{
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 100px;
    align-items: center;
}
   
.head .head-main{
    display: flex;
    gap: 30px;
    color: rgb(70, 68, 68);
}
a {
    text-decoration: none;
}
.head .head-main li{
    list-style-type: none;
    color:#B88E2F;
}
.head .head-right{
    display: flex;
    gap: 30px
}

.body img{
    width: 1400px;
    height: 1007.93px;
}
.body .body-img{
    position: relative;
    font-family: Poppins;
    font-size: 52px;
    line-height: 65px;
}
.body .body-main{
    position: absolute;
    background-color: #FFF3E3;
    top:450px;
    left:739px;
    width: 643px;
    height: 443px;
    padding: 20px;
    color: #333333;
}
.body .body-main h1{
    font-size: 80px;
    color: #B88E2F;
    margin-bottom: 30px;
}
.body .body-main button{
    width: 222px;
    height: 74px;
    background-color:#B88E2F ;
    color: white;
    font-size: 30px;
    border: none;
    margin-top: 50px;
    border-radius: 10px;
}
.foot h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.foot p{
    text-align: center;
    margin-bottom: 30px;
}
.foot {
    margin-top: 10px;
    width: 1440px;

}
.foot .foot-main{
    display: flex;
    justify-content: center;
    gap:20px;
}
.foot .foot-main img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.foot .foot-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align:center;
}
