:root{
    --bg-color:#ffffff;
    --btn-color:#e5e7eb;
    --text-color:#2d2d2d;
    --primary-font:"Inter";
    --corner-radious: 12px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color:var(--text-color);
    font-size:16px;
    background-color: var(--bg-color);
}
a {
    text-decoration: none;
}
nav{
    padding: 24px 60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .mobile-content{
    display:none;
    justify-content: space-between;
}
nav .logo{
    font-family: var(--primary-font);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
}
nav .desktop-content{
    display: flex;
    flex-direction: row;
    gap: 32px;
    color: var(--text-color);
}
nav .desktop-content li{
    list-style-type: none;
}
section {
    display: flex;
    padding: 108px;
    gap: 80px;
    align-items: center;
}
section .img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}
.conten {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.conten h1 {
    font-size: 101px;
    font-family: var(--primary-font);
}
.content-menu{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
 .placeholer title{
    text-align: center;
    align-items: center;
    display:column;
}
.placeholer text{
    text-align: center;
    align-items: center;
    display:column;
}
.placeholder{
    align-items: center;
    justify-content: center;
    display: flex;
    

}