:root{
    --bg-color: #0A0A0A;
    --btn-color:#D3E97A;
    --heading-color:#FFFFFF;
    --text-color:#C7C7C7;
    --primary-font:"Bebas Neue";
    --secondary-font:"Manrope";
    --corner-radious: 12px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
    color:var(--text-color);
    font-size:18px;
}
a {
    text-decoration: none;
}
nav{
    padding: 24px 60px;
    background-color: var(--bg-color);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .mobile-menu{
    display:none;
    justify-content: space-between;
}
nav .logo{
    font-family: var(--primary-font);
    font-size: 32px;
    text-transform: uppercase;
}
nav .desktop-menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
nav .desktop-menu li{
    list-style-type: none;
}
.first-part h2{
    font-family: var(--primary-font);
    font-size:101px;
    color: var(--heading-color);
}
.first-part .information{
    font-family:var(--secondary-font);
    color: var(--text-color);
    font-size:18px
}
section .contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contact button{
    background-color: #d3e97a;
    border:none;
    color:var(--bg-color);
    width:103px;
    height:16px;
    font-size: 16px;
    line-height: 16px;
}

@media screen and (max-width:768px){
     nav .desktop-menu{
        display: none;
    }
     nav .mobile-menu{
        display: block;
        background-color:var(--bg-color) ;
    }
}