h2{
    display: inline-block;
    border-bottom: 2px solid orange; 
    padding-bottom: 5px; 
}
table{
    border-color: rgb(190, 190, 190);
    margin:0;
    padding: 0;
    border:none;
}
span{
    text-align: center;
    padding: 15px;
    margin: 20px;
    background-color:#ffffff;   
    display: inline-block;
}
.date{
    
    font-size: 10px;
    color:rgb(85, 84, 84);
}
.title{

    font-size: 18px;
    color: black;
    font-weight: bold;
}
.photo{
    width: 150;
    height:100;
}
.text{
   
    font-size: 13px;
    color:rgb(85, 84, 84);
}
.submit{
    border: 1px solid orange;
    color:orange;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    font-size: 8px;
}
.first{
    border-left: 2px solid grey;
}
.second{
    border-left: 2px solid grey;
}