*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-size: 26px;
}
header{
    background-color: #fe0100;
    text-align: center;
    padding: 30px 0;
    border-radius: 30px;
    margin-bottom: 20px;
}
aside:nth-of-type(1){
    background-color: green;
    border-radius: 30px;
    padding: 10px;
}
aside:nth-of-type(2){
    background-color: pink;
    border-radius: 30px;
    padding: 10px;
}
main{
    background-color: yellow;
    color:rgb(21, 21, 21);
    height:400px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
section{
    display: flex;
    flex-direction: row;
}
footer{
    background-color: skyblue;
    margin-top: 20px;
    padding: 30px 0;
    border-radius: 30px;
    text-align: center;
}
@media screen and (max-width:1024px){
    section{
        display:flex;
        flex-direction: column;
    }
    aside:nth-of-type(1){
        text-align: center;
    }
    aside:nth-of-type(2){
        text-align: center;
    }
}