body {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}